body {
  /* background-image: url("../imgs/rag_background.jpg");
  background-size: cover;
  background-position: center; */
  font-family: 'Roboto Condensed', sans-serif;
}

#title{
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
  color: red;
}

#container{
  width: 80%;
  margin: 0 auto;
}

#content{
  width: 100%;
  margin: 0 auto 60px auto;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 20px 0;
  border-style: solid;
  border-width: 2px;
}

/* Nav */
#menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline;
  background: red;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

/* MAIN DKP TABLE */
#dkp_table{
  display: block;
}

.dclass img {
  height: 24px;
  width: 24px;
}

.dtext {
  display: none;
}

/* LOOTED ITEM TABLE */
#loot_table{
  display: none;
}



/* DKP HISTORY TABLE */
#history_table{
  display: none;
}