body {
  background-image: url("../imgs/rag_background.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: left top;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
}

#title{
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
  color: red;
}

#container{
  width: 85%;
  margin: 0 auto;
}

#content{
  width: 80%;
  margin: 0 auto;
}

#dkp_table,
#loot_table,
#history_table {
  background-color: rgba(0, 0, 0, 0.85);
  border-color: black;
  padding: 20px 0;
  border-style: solid;
  border-width: 2px;
}

tr:hover {
  background-color: #626161;
}

/* Nav */
#menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline;
  background: red;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.row,
.header {
  color: white;
}

th {
  padding-bottom: 13px;
  font-size: 1.2rem;
}

/* MAIN DKP TABLE */
#dkp_table{
  font-size: 1.1rem;
  display: table;
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.dclass img {
  height: 24px;
  width: 24px;
}

#dkp_table .row {
  width: 25%;
}

.dtext {
  display: none;
}

/* LOOTED ITEM TABLE */
#loot_table{
  display: none;
  width: 80%;
  margin: 0 auto;
}

#loot_table a{
  color: #a335ee; 
}

.lzone,
.lboss,
.litem,
.lplayer {
  width: 22%;
  padding: 4px;
}

.lzone,
.lboss,
.lcost {
  text-align: center;
}

.lcost{
  width: 6%;
}


/* DKP HISTORY TABLE */
#history_table{
  display: none;
  width: 100%;
  border-collapse: collapse;
}

#history_table .row {
  border: 2px solid black;
  padding: 3px;
}

.hplayers {
  width: 20%;
  word-break:break-all;
  font-size: .8rem;
  font-weight: 2;
}

.hdkp,
.hreason {
  width: 8%;
  text-align: center;
}

@media only screen and (max-width: 970px)  {
  #container{
    width: 100%;
  }

  #loot_table {
    font-size: .8rem;
    width:100%;
    margin: 0;
  }

  #dkp_table {
    width: 100%;
  }

  #content{
    width: 100%;
    margin: 0;
  }

  .litem{
    text-align: center;
  }
}