body {
  background-image: url("../imgs/rag_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Roboto Condensed', sans-serif;
}

#dkp-loot {
  display: none;
}

#nav-history {
  display: none;
}

/* MENU */

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#menu li {
  background-color: red;
  text-align: center;
  width: 100px;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
}

#title{
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
  color: red;
}

/* Content */

#container{
  width: 80%;
  margin: 0 auto;
}

#content{
  width: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 10px 0;
  border-style: solid;
  border-width: 2px;
}

table {
  margin: 0 auto;
}

.row {
  color: white;
}

.header{
  font-size: 1.2rem;
  padding-bottom: 15px;
}

/*  DKP TABLE */

.player {
  width: 150px;
}

.pclass img {
  height: 24px;
  width: 24px;
}

.pclass,
.current {
  width: 100px;
  text-align: center;
}

.class_text {
  display: none;
}

/*  Loot History */

.item {
  width: 180px;
}

.zone,
.boss,
.cost {
  text-align: center;
  width: 120px;
  padding: 5px 0;
}


.entry:hover {
  background-color: rgba(66, 66, 66, 0.77);
}

@media all and (min-width: 700px) {
  #container {
    width: 65%;
  }
}

@media all and (min-width: 1250px) {
  #container {
    width: 50%;
  }
}

@media all and (min-width: 1600px) {
  #container {
    width: 40%;
  }
}
